<div class="company-listing-subnav--spacer">
  <div data-react-class="Nav">

    <nav id="sticky_nav" class="company-listing-subnav ">

        <div class="company-listing-subnav__inner">

            <ul class="company-listing-subnav__menu">
              <li><a class="company-listing-subnav__menu-item m--active" href="#listing_overview">overview</a></li>
              <li><a class="company-listing-subnav__menu-item " href="#listing_reviews">reviews</a></li>
              <li><a class="company-listing-subnav__menu-item " href="#listing_photos">photos</a></li>
              <li><a class="company-listing-subnav__menu-item " href="#listing_profile">profile</a></li>
            </ul>

            <div class="company-listing-subnav__contact-buttons">
              <button class="company-listing-subnav-contact__button"><span>Phone</span></button>
              <a class="company-listing-subnav-contact__button" href="#!" target="_blank" title="" rel="nofollow noopener">Website</a>
            </div>

            <div class="social-share">
              <a alt="Share to " class="social-share__button--url--inverse" href="#" rel="nofollow" title="Share to "></a>
              <a alt="Share to " class="social-share__button--blockClass--inverse" href="#" rel="nofollow" title="Share to "></a>
              <a alt="Share to " class="social-share__button--facebook--inverse" href="#" rel="nofollow" title="Share to "></a>
              <a alt="Share to " class="social-share__button--twitter--inverse" href="#" rel="nofollow" title="Share to "></a>
            </div>

        </div>

    </nav>

  </div>
</div>
