<footer class="global-footer">
    <div class="container">
        <div class="global-footer-inner-wrap row">

            <div class="site-footer__for-homeowners col-lg-3">

              <h2>Proprietaires</h2>

              <ul>
                <li><a href="/categories">Browse Categories</a></li>
                <li><a href="/ecrire-un-avis">Laissez un avis</a></li>
                <li><a href="/actualites">Actualites</a></li>
                <li><a href="/proprietaires/star-reviewers">Star Reviewers</a></li>
                <li><a href="/proprietaires/faq-proprietaires">Homeowner FAQ</a></li>
                <li><a href="/proprietaires/avis-review-guidelines">Review Guidelines</a></li>
                <li><a href="/proprietaires/trust">Homeowner Trust</a></li>
              </ul>

            </div>
            <div class="site-footer__for-home-professionals col-lg-3">

              <h2>Professionnels</h2>

              <ul>
                <li><a href="/companies/join">Inscrivez-vous</a></li>
                <li><a href="/companies/faq">FAQ Professionnels</a></li>
                <li><a href="/companies/building-trust">Building Trust</a></li>
                <li><a href="/companies/appli-mobile">Application Mobile</a></li>
                <li><a href="/companies/service-professionals">Charte éthique professionnels</a></li>
              </ul>

            </div>
            <div class="site-footer__homestars col-lg-3">

              <h2>Notre Site</h2>

              <ul>
                <li><a href="/a-propos">A Propos</a></li>
                <li><a href="/notre-equipe">Notre Equipe</a></li>
                <li><a href="/presse">Presse &amp; Annonces</a></li>
                <li><a href="/carrieres">Carrieres a Maison Pros</a></li>
                <li><a href="/nous-contacter">Nous Contacter</a></li>
                <li><a href="/mentions-legales">Mentions légales</a></li>
              </ul>

            </div>
            <div class="site-footer__social col-lg-3">
            <div class="social__logo"></div>
            <div class="social__icons"></div>

            <a alt="" class="icon" href="#!" target="_blank" rel="" title=""></a>
            <small class="site-footer__copyright">© 2018 MaisonPros, Une Compagnie de Maison Pros.</small>
            </div>

        </div>
    </div>
</footer>
