<article class="review" data-review-id="633081 {{ review.id }}" itemprop="review" itemscope="" itemtype="https://schema.org/Review">
<div class="review-wrap">
<meta content="PULSAR CONSTRUCTION" itemprop="name">
<meta content="PULSAR CONSTRUCTION" itemprop="itemReviewed">
<div class="review__author">
<cite class="review-author">
<div>
<figure class="review-author__avatar"><img title="LanaNW" alt="LanaNW" src="//cdn.homestars.com/assets/avatar-20160824-109208b15de70ee4b9e68b2c13d86701.svg"></figure>
</div>
<div>
<address class="review-author__name" itemprop="author"><a href="/homeowner/792731-lananw">LanaNW</a></address>
<span class="review-author__review-count"><a class="star-reviewer-badge" href="/star-reviewers"><span class="review-author-badge__image--none">2 reviews</span></a></span>
<span class="review-author__location">New Westminster, BC</span>
<time class="review-author__joined">Joined 2017/04/30</time>
</div>
</cite>
</div>
<div class="review__content">
<div class="review-content__rating">
<div class="review-rating" itemprop="reviewRating" itemscope="" itemtype="https://schema.org/Rating">
<span class="review-rating__rating" itemprop="ratingValue">
10/10
</span>
<meta content="10" itemprop="bestRating">
<meta content="0" itemprop="worstRating">
</div>
</div>
<h1 class="review-content__title" itemprop="description">
<a itemprop="url" href="/companies/2875358-pulsar-construction/reviews/633081">Deck build</a>
</h1>
<div class="review-content__category-location">
Decks review in
New Westminster
</div>
<time class="review-content__date">
<meta content="2018-02-18T19:23:20-05:00" itemprop="datePublished">
20 days ago
</time>
<div class="review-content__story">
<div class="expander review-story__text" itemprop="reviewBody"><div class="summary open" style="display: block;"><p>Overall we were really pleased with the work and the people (very friendly, professional, and talented!). We got honest advice on the project, the work was done very quickly (with start times being reliable each day), and all the little details were very professionally taken care of (from finishing touches on edges, to daily clean up, to carefully selection of the best wood for certain surfaces). The finished product looks excellent too! They were also very quick to quote and provided the best<span class="read-more" style="display: inline;">… <a href="#" class="more-link">read more</a></span></p></div> <div class="details" style="display: none;"><p>Overall we were really pleased with the work and the people (very friendly, professional, and talented!). We got honest advice on the project, the work was done very quickly (with start times being reliable each day), and all the little details were very professionally taken care of (from finishing touches on edges, to daily clean up, to carefully selection of the best wood for certain surfaces). The finished product looks excellent too! They were also very quick to quote and provided the best combination of pricing and expertise that we found. </p><span class="read-less"> <a href="#" class="less-link">read less</a></span></div></div>
</div>
<div class="review-content__price-advice">
<div data-react-class="AuthenticationLink" data-react-props="{&quot;cssClass&quot;:&quot;price-advice__toggle&quot;,&quot;link&quot;:&quot;/companies/2875358-pulsar-construction&quot;,&quot;children&quot;:&quot;Job Price&quot;}"><a data-reactroot="" data-reactid="1">Job Price</a></div>
</div>
<div class="review-content__helpful">
<span class="review-helpful" id="helpful_count_633081">
1
of
1
people found this review helpful.
<span class="review-helpful__vote" id="vote_review_633081">
<div class="helpful-vote">
Was this review helpful?
<span class="helpful-vote--yes">
<a data-method="post" data-remote="true" id="true_vote_for_review_633081" href="/reviews/633081/votes?feature=vote&amp;feature_page=review_helpful&amp;helpful=true">Yes</a>
</span>
<span class="helpful-vote--no">
<a data-method="post" data-remote="true" id="false_vote_for_review_633081" href="/reviews/633081/votes?feature=vote&amp;feature_page=review_helpful&amp;helpful=false">No</a>
</span>
</div>
</span>
</span>
</div>
<div class="review-content__share">
<div data-react-class="SocialShareButtons" data-react-props="{&quot;companyId&quot;:2875358,&quot;title&quot;:&quot;Review of PULSAR CONSTRUCTION on HomeStars&quot;,&quot;url&quot;:&quot;/companies/2875358-pulsar-construction/reviews/633081&quot;}"><div data-reactroot="" class="social-share"><a alt="Share to " class="social-share__button--url--inverse" href="#" rel="nofollow" title="Share to "></a><a alt="Share to " class="social-share__button--blockClass--inverse" href="#" rel="nofollow" title="Share to "></a><a alt="Share to " class="social-share__button--facebook--inverse" href="#" rel="nofollow" title="Share to "></a><a alt="Share to " class="social-share__button--twitter--inverse" href="#" rel="nofollow" title="Share to "></a></div></div>
<span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
<meta content="HomeStars" itemprop="name">
</span>
</div>
<div class="review-content__response">
<dl class="review-response"><dt class="review-response__heading"><i class="unigrid-response"></i> Company Response</dt><dd class="review-response__body"><p>Thank you Lana. We appreciate your review and all the great comments you shared about us. You were a pleasure to work with. All the best, and enjoy your new sundeck.</p></dd></dl>
</div>
</div>
</div>
</article>
